# Configuration file for Ryzen Stabilizator Tabajara.
#
# Basically, we may define profiles that might contain indications on what to
# do with regard to both C6 C-state and processor boosting.
#
# The allowed keys are `c6' to refer to the C6 C-state, and `boosting', to refer
# to processor boosting. The accepted values are either "enabled" or "disabled".
#
# If they are not mentioned, ryzen-stabilizator will not do anything with regard
# to them.
#
#
# E.g.:
#
# [boot]
#   boosting = "disable"
#
#
# In the above case, we only define the `boot' profile, and it indicates that we
# should disable processor boosting if using this profile. Nothing will be done
# with regard to C6 C-state in this profile.
#
# To tell ryzen-stabilizator to use this profile, we do this:
# ryzen-stabilizator --config=<path to this config file> --profile=boot
#
#
# Currently, ryzen-stabilizator supports two profiles, `boot' and `resume', and
# we use them in conjunction with a systemd service that will run during boot
# and also after resuming from sleep. In these profiles, we disable both C6
# C-state and processor boost, by default.


[boot]
  boosting = "disable"
  c6 = "disable"

[resume]
  boosting = "disable"
  c6 = "disable"


# vim:set ts=2 sw=2 et:
