[Unit]
Description=Ryzen Stabilizator Tabajara
PartOf=ryzen-stabilizator.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/logger Ryzen Stabilizator Tabajara

[Install]
WantedBy=multi-user.target ryzen-stabilizator.target
Also=ryzen-stabilizator@boot.service
Also=ryzen-stabilizator@resume.service
