[Unit]
Description=Ryzen Stabilizator Tabajara - Boot
PartOf=ryzen-stabilizator.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/ryzen-stabilizator --config=/etc/ryzen-stabilizator/settings.toml

[Install]
WantedBy=multi-user.target
